%header
  = render partial: 'items/item_page_header'
.wrapper
  .all-items
    .user-name-page
      = "#{@tag.name}  page"
    = render partial: 'tag_item_content'
    %footer
      = paginate @tags_pagenate
