%ul.slider
  %li
    = image_tag "bence-balla-schottner-Rm7Qbb1FyQM-unsplash.jpg", class: "header-image"
  %li
    = image_tag "dom-hill-nimElTcTNyY-unsplash.jpg", class: "header-image"
  %li
    = image_tag "md-salman-tWOz2_EK5EQ-unsplash.jpg", class: "header-image"
  %li
    = image_tag "jason-leung-JwnaKcENiGc-unsplash.jpg", class: "header-image"
  %li
    = image_tag "logan-weaver-jM_xJyX-sPI-unsplash.jpg", class: "header-image"
  %li
    = image_tag "revolt-164_6wVEHfI-unsplash.jpg", class: "header-image"
  %li
    = image_tag "tobias-tullius-Fg15LdqpWrs-unsplash.jpg", class: "header-image"
  %li
    = image_tag "verity-sanders-q4ExhrHaSLY-unsplash.jpg", class: "header-image"
