.gbluv_box
  = link_to "#", class: "menu-trigger" do
    %i.fas.fa-bars
    Pic List
.gbluv_block
  %ul.gblnv_list
    = render partial: 'tags/tag', collection: @tags 
 



%ul.slider
  %li.slide-item
    = image_tag "bence-balla-schottner-Rm7Qbb1FyQM-unsplash.jpg", class: "header-image"
  %li.slide-item
    = image_tag "dom-hill-nimElTcTNyY-unsplash.jpg", class: "header-image"
  %li.slide-item
    = image_tag "md-salman-tWOz2_EK5EQ-unsplash.jpg", class: "header-image"
  %li.slide-item
    = image_tag "jason-leung-JwnaKcENiGc-unsplash.jpg", class: "header-image"
  %li.slide-item
    = image_tag "logan-weaver-jM_xJyX-sPI-unsplash.jpg", class: "header-image"
  %li.slide-item
    = image_tag "revolt-164_6wVEHfI-unsplash.jpg", class: "header-image"
  %li.slide-item
    = image_tag "tobias-tullius-Fg15LdqpWrs-unsplash.jpg", class: "header-image"
  %li.slide-item
    = image_tag "verity-sanders-q4ExhrHaSLY-unsplash.jpg", class: "header-image"
