.contents-row
  .container
    -# = form_with model: @item do |f|
    = form_for @item do |form|
      %h3
        編集する
      = form.text_field :title, class: 'container__title', placeholder: 'type a title'
      = form.text_field :text, class: 'container__text', placeholder: 'type a text'
      = form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |tag| 
        = tag.label {tag.check_box + tag.text }
      = form.text_field :image, class: 'container__image', placeholder: "Image Url"
      = form.submit "SEND", class: 'btn'