%header

.wrapper
  .all-items
    - @items.each do |item|
      .all-items--contents
        .post-title-date
          .post-title
            = item.title
          .post-date
            = item.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .post-contents
          .post-image
            = image_tag item.image.to_s, size: "200x200", class: 'post-contents__image' if item.image.present?
            .more
              .span
                = image_tag 'arrow_top.png'
            %ul.more-list
              .li
                = link_to '詳細', item_path(item), method: :get 
              .li
                = link_to '削除', item_path(item), method: :delete
          .post-text
            - if item.text.present?
              %p.item__text
                = item.text
  .items-list
    %h
      アイテムタグLIST
    = render partial: 'tags/tag', collection: @tags 

