%h1
  トップページ
  .show-item
    %h2一覧
    %ul.menu
      %li.list
        %a(href="#")
          服
%h1
  ○username
  %p
    = current_user.username
%h1
  ○username-edit
  %p
    = link_to "アカウント編集", edit_user_path(current_user)

.item-content
  - @items.each do |item|
    = item.title
    = item.image
    = item.text

.post-form
  = link_to "投稿", new_item_path(current_user)