!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FavaritePic
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    -# = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notifications' 
    -if user_signed_in?
      .user_nav-grid-6
        = link_to "マイページ",user_path(current_user.id), method: :get
        = link_to "ログアウト", destroy_user_session_path, method: :delete
        = link_to "投稿する", new_item_path
        = link_to "トップページ", root_path
    -else
      .grid-6
        = link_to "ログイン", new_user_session_path
        = link_to "新規登録", new_user_registration_path 
    = yield
